@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --header-bg: #000000;
    --white: #ffffff;
    --btn: #0f9b0f;
}




*{
    margin: 0;
    padding: 0;
    
}
header{
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden; /* Tirar a barra de rolagem horizontal*/
    position: relative; /* Para o banner ficar em position:absolute, o header precisa estar relative, pois
    o banner está dentro dele*/
}
.img-wrapper{
    width: 100%;
    height: 100%;
    background-color:var(--header-bg) ; /*Substitui o fundo branco do header para dar um efeito melhor à opacidade*/
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*A imagem passa a ficar dentro da div, tirando aquela impressão de está sendo espremida*/
    opacity: 0.5;
    animation: zoomImg 10s;
}
.banner{
    position: absolute;
    top: 30%;
    left: 9%;
    
}

.banner h1{
    color:var(--white) ;
    font-size:2.5rem ;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.5);
    line-height: 2.5rem;
    margin-bottom: 2rem;
    
}

.banner p{
    font-family: 'Baloo 2', cursive;
    color: var(--white);
    font-weight: 100;
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    opacity: 0;
    animation: Banner 1s 0.5s forwards;
}

.banner button{
    font-family: 'Ubuntu', sans-serif;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.6);
    color:var(--btn);
    background-color: transparent;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 3rem;
    opacity: 0;
    border: 2px solid #0f9b0f;
    outline: none;
    border-radius: 5px;
    cursor: pointer;   
    animation: Banner 1s 0.3s forwards;

}
a:link {
    color: yellowgreen;
}
.banner button:hover{
    color: white;
    background: #0f9b0f;
    box-shadow: 0 0 10px #0f9b0f, 0 0 20px #0f9b0f, 0 0 50px #0f9b0f;
}



@keyframes zoomImg{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes Banner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
